.title {
    color: black;
    Background-color: tan;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif
}

#main_title{
    margin-top: 50px;
    font-family: 'trattatello, fantasy, serif';
    
}